shell = "zsh"

[plugins.zsh-defer]
github = "romkatv/zsh-defer"
apply = ["source"]

[templates]
defer = "{{ hooks?.pre | nl }}{% for file in files %}zsh-defer source \"{{ file }}\"\n{% endfor %}{{ hooks?.post | nl }}"

[plugins.compinit]
inline = 'autoload -Uz compinit && zsh-defer compinit'

[plugins.zsh-syntax-highlighting]
github = "zdharma/fast-syntax-highlighting"
apply = ["defer"]

[plugins.zsh-completions]
github = "zsh-users/zsh-completions"
apply = ["defer"]

[plugins.autosuggestions]
github = "zsh-users/zsh-autosuggestions"
apply = ["defer"]

[plugins.starship]
inline = 'eval "$(starship init zsh)"'

[plugins.history-fzf]
inline = '''
function fzf-select-history() {
    BUFFER=$(history -n -r 1 | fzf --query "$LBUFFER" --reverse)
    CURSOR=$#BUFFER
    zle reset-prompt
}
zle -N fzf-select-history
'''

[plugins.ghq-fzf]
inline = '''
#!/usr/bin/env bash
#

set -euo pipefail

changeSession() {
  local change
  [[ -n "${TMUX:-""}" ]] && change="switch-client" || change="attach-session"
  tmux $change -t "$1"
}

createSessionIfNeeded() {
  local name=$1
  [[ -n "$2" ]] && dir=$2 || dir=$(pwd)
  tmux list-sessions -F "#{session_name}" |
    grep -q -E "^${name}$" ||
    tmux new-session -d -c "${dir}" -s "${name}"
}

selectRepo() {
  echo "$(ghq root)/$(ghq list | fzf)"
}

tm() {
  if [ $# -eq 1 ]; then
    createSessionIfNeeded $1
    changeSession $1
    exit
  fi

  local repo="$(selectRepo)"
  local session="$(echo "$repo" | awk -F/ '{ print $NF }')"

  createSessionIfNeeded $session $repo
  changeSession $session
}

zle -N tm
'''

[plugins.bindings]
inline = '''
bindkey '^f' tm
bindkey '^r' fzf-select-history
'''
